<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M2-9 蝴蝶星云</title>
    <!-- <link rel="stylesheet" href="{{url_for('static',filename ='./css/style.css')}}"> -->
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-LCPyFKQyML7mqtS+4XytolfqyqSlcbB3bvDuH9vX2sdQMxRonb/M3b9EmhCNNNrV" crossorigin="anonymous"></script> -->
    <style>
        <!-- body{
            margin: auto;
            background-image: url(/static/imge/coming-soon.jpg);
        }
        .login{
            /* text-align:center; */
            /* border-color:#808080; */
            /* border-radius: 25px; */
            /* padding: 35px; */
            /* margin: 150px;; */
            margin-top: 200px;
            opacity:0.8;
        } 
    </style>
</head>
<body>
    <div class="login">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4" style="height: auto; border: solid 2px #808080; border-radius: 25px;" >
                    <form style="margin: 30px;", method="POST" action="">
                        <div class="form-group">
                        <label for="username">username</label>
                        <input type="text" class="form-control" id="exampleCheck1" name="username" onblur="user_identification()">
                        </div>
                        <!-- <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div> -->
                        <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                        </div>
                        <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

<script type="text/javascript">
    function user_identification(){
        $.post({
            url: "/login",
            type: post,
            data: {'name': $("user_identification").val()},
            success: function (data, status){
                alert(data);
                alert(status);
            }
        })
    }

</script>
</body>

</html>