<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M2-9 蝴蝶星云</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>

    <style>
        <!-- body{
            margin: auto;
            background-image: url(/static/imge/coming-soon.jpg);
        }
        .login{
            /* text-align:center; */
            /* border-color:#808080; */
            /* border-radius: 25px; */
            /* padding: 35px; */
            /* margin: 150px;; */
            margin-top: 200px;
            opacity:0.8;
        } 
    </style>
    
    
</head>
<body>
    <div class="login">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4" style="height: auto; border: solid 2px #808080; border-radius: 20px;" >
                    <form style="margin: 30px;", method="POST" action="">
                        <div class="form-group">
                        <label for="username">username</label>
                        <input type="text" class="form-control" id="exampleCheck1" name="username" onblur="user_identification()">
                        </div>
                        <!-- <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div> -->
                        <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                        </div>
                        <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>
    function user_identification(){
        var name = $('input[name=username]').val()
        username = console.log(name);
        if(name!=""){
            $.ajax({
                url:'/login',
                type:'POST',
                data:{"username": $('input[name="username"]').val(),"password":$('input[name="password"]').val()},
                success: function(res){
                    alert(res)
                },error:function(){
                    alert("系统貌似遇到了一些问题！");
                }
            });
        }
        else
        {alert("请验证你的用户名！")};
    }
</script>    
        
</body>

</html>